@model bool

@{
    ViewData["Title"] = "Confirmación de eliminacion";
}

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="ProductoIndex">Busqueda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="ProductoDetail">Catalogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="ProductoCreate">Crear</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="ProductoEdit">Editar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="ProductoDelete">Eliminar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<h1>@ViewData["Title"]</h1>

@if(Model==true)
{
<p>Producto eliminado exitosamente</p>
}
else
{
<p>El producto no pudo ser eliminado.</p>
}
